current-weather-location
kitty-theme.conf
lockscreen-monitor
zen-theme.css
zen-content-theme.css
current-wallpaper
current-theme
bar-layout.json
gtk-theme.css
sddm/vellum-ink/Xsetup
sddm/vellum-ink/background.jpg
push-both.sh
backend/target/
