NAME=Dynamic / Matugen
MODE=dark

ACCENT={{ACCENT}}
SELECTION={{SELECTION}}
MUTED={{MUTED}}

BACKGROUND={{BACKGROUND}}
DARK_BACKGROUND={{DARK_BACKGROUND}}
DARKER_BACKGROUND={{DARKER_BACKGROUND}}
LIGHTER_BACKGROUND={{LIGHTER_BACKGROUND}}

FOREGROUND={{FOREGROUND}}
DARK_FOREGROUND={{DARK_FOREGROUND}}
LIGHT_FOREGROUND={{LIGHT_FOREGROUND}}
BRIGHT_FOREGROUND={{BRIGHT_FOREGROUND}}

RED={{RED}}
YELLOW={{YELLOW}}
ORANGE={{ORANGE}}
GREEN={{GREEN}}
CYAN={{CYAN}}
BLUE={{BLUE}}
MAGENTA={{MAGENTA}}
BROWN={{BROWN}}

BRIGHT_RED={{BRIGHT_RED}}
BRIGHT_YELLOW={{BRIGHT_YELLOW}}
BRIGHT_GREEN={{BRIGHT_GREEN}}
BRIGHT_CYAN={{BRIGHT_CYAN}}
BRIGHT_BLUE={{BRIGHT_BLUE}}
BRIGHT_MAGENTA={{BRIGHT_MAGENTA}}

SURFACE={{SURFACE}}
ICON_THEME=auto
